.secondary-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20%;

    &__meridian-type {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 10%;
        cursor: pointer;
    }

    &__second {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 10%;
    }
}
