@import "/src/_globals.scss";

.blocker {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.modal {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;

    &--small {
        max-width: 600px;
        height: auto;
    }

    &--opaque {
        backdrop-filter: blur(10px);
    }

    &--solid {
        background-color: $app-background;
    }

    &__content {
        width: 100%;
        height: 100%;
        padding: 40px;
        overflow-x: hidden;
        overflow-y: auto;
        justify-content: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.close-button {
    border-radius: 50%;
    background-color: $app-background;
    position: absolute;
    color: white;
    top: -5px;
    right: -5px;
    box-shadow: 0 0 10px black;
}
