@import "/src/globals";

.day-picker {
    width: 100%;
    flex: 1 1 0px;
    min-width: 100px;
    max-width: 400px;

    &__days {
        all: unset;
        display: flex;
        flex-direction: row;
        gap: 2%;
        width: 100%;
    }
    &__day {
        all: unset;
        flex: 1 1 0px;
        width: 0;

        &-button {
            all: unset;
            width: 100%;
            background-color: transparent;
            padding: 5px 0;
            box-sizing: border-box;
            text-align: center;
            border-radius: 5px;
            cursor: default;
            border: 1px solid $app-foreground;
            writing-mode: vertical-lr;
            font-size: 10px;
            height: 36px;

            &--selected {
                background-color: $color-secondary;
                color: white;
                border: 1px solid $app-foreground;
            }
        }
    }
}
